appdirs==1.4.4
click==7.1.2
cycler==0.10.0
Cython==0.29.17
distlib==0.3.0
filelock==3.0.12
Flask==1.1.2
gunicorn==20.0.4
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==0.15.1
kiwisolver==1.2.0
MarkupSafe==1.1.1
matplotlib==3.2.1
numpy==1.18.5
pandas==1.0.4
patsy==0.5.1
pmdarima==1.6.1
pymongo==3.10.1
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
scikit-learn==0.23.1
scipy==1.4.1
six==1.15.0
sklearn==0.0
statsmodels==0.11.1
threadpoolctl==2.1.0
urllib3==1.25.9
virtualenv==20.0.23
Werkzeug==1.0.1
WTForms==2.3.1
