<!DOCTYPE html>
<html lang="en">
<head>
	<title>The Intercessor</title>
    <meta name="keywords" content="">
	<meta name="description" content="">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- 
OneTel Template
http://www.templatemo.com/tm-468-onetel
-->
	<!-- stylesheet css -->
	<link rel="stylesheet" href="static/css/bootstrap.min.css">
	<link rel="stylesheet" href="static/css/font-awesome.min.css">
	<link rel="stylesheet" href="static/css/nivo-lightbox.css">
	<link rel="stylesheet" href="static/css/nivo_themes/default/default.css">
	<link rel="stylesheet" href="static/css/templatemo-style.css">
	<!-- google web font css -->
	<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<style>
.col-container-custom {
  display: table;
  width: 100%;
}
.col-custom {
  display: table-cell;
  padding: 16px;
}
</style>
</head>
<body style="background-color: white">
	
<!-- navigation -->

	<div align="center" >
		<div class="navbar navbar-default navbar-static-top" role="navigation" style="width: 90%;" >
		<div class="navbar-header"  >
			<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
			</button>
			<a href="#" class="navbar-brand"><img src="static/images/finallogo.png" width="100" alt="logo"></a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="{{ url_for('index') }}" >HOME</a></li>
				<li><a href="{{ url_for('about') }}"class="active">ABOUT US</a></li>
				<li><a href="{{ url_for('contact') }}">CONTACT</a></li>
				<li><a href="{{url_for('blog')}}">BLOG</a></li>
				<li><a href="{{url_for('waste')}}">SPOILED FOOD MANAGEMENT</a></li>

			</ul>
		</div>
	</div>
</div>		

<!-- about header section -->
<div id="about-header">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12"></div>
		</div>
	</div>
</div>

<!-- team section -->
<div id="team">
	<div class="container">
    
		<div class="row">
			<div class="col-md-offset-2 col-md-8 col-sm-12" style="color: grey">
				<h2 style="color: black">Meet the crew!</h2>
                <p>We the members of Team Umeed are detrmined to give our users a precise and accurate solution to all their warehouse managment and technology related issues. We stand by the small scale companies in these times of crisis!!!!</p>
			</div>
         </div>
         
         <div class="col-container-custom">
			<div class="col-custom">
				<div class="team-wrapper">
					<img src="static/images/sas1.png" width="300" height="500"  alt="team img">
					<h3 style="color: #5E888B">SASWAT</h3>
					<h5 style="color: #FB836F"><B>Backend Developer</B></h5>
					<p><a href="contact.html" class="fa fa-envelope-o"></a><br>sapa19is@cmrit.ac.in</p>
				</div>
			</div>
			<div class="col-custom">
				<div class="team-wrapper">
					<img src="static/images/pratik.jpeg" width="300" height="500"  alt="team img">
					<h3 style="color: #5E888B">PRATIK</h3>
					<h5 style="color: #FB836F"><B>UX Designer</B></h5>
					<p><a href="contact.html" class="fa fa-envelope-o"></a><br>prkm19cs@cmrit.ac.in</p>
				</div>
			</div>
			<div class="col-custom">
				<div class="team-wrapper">
					<img src="static/images/shraddha.jpeg" width="300" height="500"  alt="team img">
					<h3 style="color: #5E888B">SHRADDHA</h3>
					<h5 style="color: #FB836F"><B>Frontend Developer</B></h5>
					<p><a href="contact.html" class="fa fa-envelope-o"></a><br>shsa19cs@cmrit.ac.in</p>
				</div>
			</div>
             <div class="col-custom">
				<div class="team-wrapper">
					<img src="static/images/kunal.jpeg" width="300" height="500"  alt="team img">
					<h3 style="color: #5E888B">KUNAL</h3>
					<h5 style="color: #FB836F"><B>GUI Creator</B></h5>
					<p><a href="contact.html" class="fa fa-envelope-o"></a><br>kush19is@cmrit.ac.in</p>
				</div>
			</div>
         </div>
         </div>
     </div>
         <!--div class="row mt30"> 
			<div class="col-md-12 col-sm-12">
				<hr>
			</div>
			<div class="col-md-6 col-sm-6">
				<h3>Onetel Design Studio</h3>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. Dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet.</p>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismo.</p>
			</div>
			<div class="col-md-6 col-sm-6">
				<strong>HTML5 &AMP; CSS3</strong>
				<span class="pull-right">100%</span>
					<div class="progress">
						<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
					</div>
				<strong>BOOTSTRAP</strong>
				<span class="pull-right">80%</span>
					<div class="progress">
						<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
					</div>
				<strong>UX Design</strong>
				<span class="pull-right">70%</span>
					<div class="progress">
						<div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div>
					</div>
			</div>
		</div>
	</div>
</div-->		

<!-- footer section -->
<footer>
	<div class="container">
		<div class="row">
        
			<div class="col-md-5 col-sm-4">
				<img src="static/images/finallogo.png" width="300" alt="logo">
				<p>INTERCESSOR is a free website to help you stock your warehouses adequately. Feel free to use it!!!</p>
				<!--p><i class="fa fa-phone"></i> 010-020-0340</p-->
				<p><i class="fa fa-envelope-o"></i> teamumeed555@gmail.com</p>
              <!--p><i class="fa fa-globe"></i> www.company.com</p-->
			</div>

			<!--div class="col-md-3 col-sm-4">
				<h3>Useful Links</h3>
				<p><a href="#">HTML5 Templates</a></p>
				<p><a href="#">CSS3 Tricks</a></p>
				<p><a href="#">Design Blog</a></p>
				<p><a href="#">Animations</a></p>
			</div>
            
			<div class="col-md-4 col-sm-4 newsletter">
				<h3>Newsletter</h3>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismo.</p>
				<div class="input-group">
           	    	<form action="#" method="post">
                        <input name="email" type="email" placeholder="Enter your email" class="form-control" autorequired>
                    	<button type="submit" name="submit" class="btn email">Submit</button>
                  	</form>
				 </div>
			</div>
            
		</div>
	</div-->
</footer>

<!-- copyright section -->
<div class="copyright">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-6">
				<p>Copyright © 2084 Team Umeed</p>
						</div>
			<div class="col-md-6 col-sm-6">
				<ul class="social-icons">
					<!--li><a href="#" class="fa fa-facebook"></a></li>
					<li><a href="#" class="fa fa-twitter"></a></li>
					<li><a href="#" class="fa fa-dribbble"></a></li>
					<li><a href="#" class="fa fa-pinterest"></a></li>
					<li><a href="#" class="fa fa-behance"></a></li-->
					<li><a href="contact.html" class="fa fa-envelope-o"></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>

<!-- javascript js -->	
<script src="static/js/jquery.js"></script>
<script src="static/js/bootstrap.min.js"></script>	
<script src="static/js/nivo-lightbox.min.js"></script>
<script src="static/js/custom.js"></script>

</body>
</html>