<!DOCTYPE html>
<html lang="en">
<head>
	<title>The Intercessor</title>
    <meta name="keywords" content="">
	<meta name="description" content="">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- 
OneTel Template
http://www.templatemo.com/tm-468-onetel
-->
	<!-- stylesheet css -->
	<link rel="stylesheet" href="static/css/bootstrap.min.css">
	<link rel="stylesheet" href="static/css/font-awesome.min.css">
	<link rel="stylesheet" href="static/css/nivo-lightbox.css">
	<link rel="stylesheet" href="static/css/nivo_themes/default/default.css">
	<link rel="stylesheet" href="static/css/templatemo-style.css">
	<!-- google web font css -->
	<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

</head>
<body style="background-color: white">
	
<!-- navigation -->

	<div align="center" >
		<div class="navbar navbar-default navbar-static-top" role="navigation" style="width: 90%;" >
		<div class="navbar-header"  >
			<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
			</button>
			<a href="#" class="navbar-brand"><img src="static/images/finallogo.png" width="100" class="img-responsive" alt="logo"></a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="{{ url_for('index') }}" >HOME</a></li>
				<li><a href="{{ url_for('about') }}">ABOUT US</a></li>
				<li><a href="{{ url_for('contact') }}">CONTACT</a></li>
				<li><a href="{{url_for('blog')}}"class="active">BLOG</a></li>
				<li><a href="{{url_for('waste')}}">SPOILED FOOD MANAGEMENT</a></li>

			</ul>
		</div>
	</div>
</div>		

<!-- portfolio header section -->
<div id="portfolio-header">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12"></div>
		</div>
	</div>
</div>

<!-- portfolio section -->
<div id="portfolio">
	<div class="container">
		<div class="row">
			<div class="col-md-offset-2 col-md-8 col-sm-12">
				<h2 style="color: black">This Is Us</h2>
                <p>From the first glimpse of the problem ,to the last codes for the solution.</p><p>Join us to celebrate our journey from the given enigma to our final proposition.</p>
			</div>
         </div>
         <div class="row mt30">
         
			<div class="col-md-12 col-sm-4 col-xs-6">
				<a  data-lightbox-gallery="portfolio-gallery"><img src="static/images/prob.jpg" alt="portfolio img"></a><h2 style="color: black">What is the Problem?</h2><p>A food delivery service has to deal with a lot of perishable raw materials which makes it all, the most important factor for such a company is to accurately forecast daily and weekly demand. Too much inventory in the warehouse means more risk of wastage, and not enough could lead to out-of-stocks - and push customers to seek solutions from your competitors. The replenishment of majority of raw materials is done on weekly basis and since the raw material is perishable, the procurement planning is of utmost importance.</p>
			</div>
			<div class="col-md-12 col-sm-4 col-xs-6">
				<a  data-lightbox-gallery="portfolio-gallery"><img src="static/images/clue.jpg" alt="portfolio img"></a><h2 style="color: black">Collecting Clues</h2> <p>idea cumilation</p>
				
			</div>
			<div class="col-md-12 col-sm-4 col-xs-6">
				<a data-lightbox-gallery="portfolio-gallery"><img src="static/images/goal.jpg" alt="portfolio img"></a><h2 style="color: black">The goals are set!!</h2> <p>our approach to solution<p>
			</div>
            
			<div class="col-md-12 col-sm-6 col-xs-6">
				<a data-lightbox-gallery="portfolio-gallery"><img src="static/images/begin.jpg" alt="portfolio img"></a><h2 style="color: black">Journey Begins</h2> <p>Implementation</p>
			</div>
			<div class="col-md-12 col-sm-6 col-xs-6">
				<a data-lightbox-gallery="portfolio-gallery"><img src="static/images/tackle.jpg" alt="portfolio img"></a><h2 style="color: black">Tackling the Elephant in the Room</h2><p>Facing today's problems & efficiency</p>
			</div>
			<div class="col-md-12 col-sm-6 col-xs-6">
				<a data-lightbox-gallery="portfolio-gallery"><img src="static/images/notend.jpg" alt="portfolio img"></a><h2 style="color: black">This is not the end..</h2><p> our journey continues & roadmap</p>
			</div> 
            
			
            
		</div>
	</div>
</div>		

<!-- footer section -->
<footer>
	<div class="container">
		<div class="row">
        
			<div class="col-md-5 col-sm-4">
				<img src="static/images/finallogo.png" width="300" class="img-responsive" alt="logo">
				<p>INTERCESSOR is a free website to help you stock your warehouses adequately. Feel free to use it!!!</p>
				<!--p><i class="fa fa-phone"></i> 010-020-0340</p-->
				<p><i class="fa fa-envelope-o"></i> teamumeed555@gmail.com</p>
              <!--p><i class="fa fa-globe"></i> www.company.com</p-->
			</div>

			
            
		</div>
	</div>
</footer>

<!-- copyright section -->
<div class="copyright" >
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-6">
				<p>Copyright © 2084 Team Umeed</p>
				<p>Logo Copyright © Reserved </p>
			</div>
			<div class="col-md-6 col-sm-6">
				<ul class="social-icons">
					
					<li><a href="{{url_for('contact')}}" class="fa fa-envelope-o"></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>



<!-- javascript js -->	
<script src="static/js/jquery.js"></script>
<script src="static/js/bootstrap.min.js"></script>	
<script src="static/js/nivo-lightbox.min.js"></script>
<script src="static/js/custom.js"></script>

</body>
</html>