<!DOCTYPE html>
<html lang="en">
<head>
	<title>The Intercessor</title>
    <meta name="keywords" content="">
	<meta name="description" content="">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- 
OneTel Template
http://www.templatemo.com/tm-468-onetel
-->

	<!-- stylesheet css -->
	<link rel="stylesheet" href="static/css/bootstrap.min.css">
	<link rel="stylesheet" href="static/css/font-awesome.min.css">
	<link rel="stylesheet" href="static/css/nivo-lightbox.css">
	<link rel="stylesheet" href="static/css/nivo_themes/default/default.css">
	<link rel="stylesheet" href="static/css/templatemo-style.css">
	<!-- google web font css -->
	<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

</head>
<body style="background-color: white">
	
<!-- navigation -->

	<div align="center" >
		<div class="navbar navbar-default navbar-static-top" role="navigation" style="width: 90%;" >
		<div class="navbar-header"  >
			<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
			</button>
			<a href="#" class="navbar-brand">
				<img src="static/images/finallogo.png" width="100" alt="logo"></a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="{{ url_for('index') }}" >HOME</a></li>
				<li><a href="{{ url_for('about') }}">ABOUT US</a></li>
				<li><a href="{{ url_for('contact') }}"class="active">CONTACT</a></li>
				<li><a href="{{url_for('blog')}}">BLOG</a></li>
				<li><a href="{{url_for('waste')}}">SPOILED FOOD MANAGEMENT</a></li>

			</ul>
		</div>
	</div>
</div>		

<!-- contact header section -->
<div id="contact-header">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12"></div>
		</div>
	</div>
</div>

<!-- contact section -->
<div id="contact">
	<div class="container">
		<div class="row">
			<div class="col-md-offset-2 col-md-8 col-sm-12">
				<h2 style="color: #029BB3">Get in touch</h2>
                <p><center>We would love to hear from you. Contact us anytime for any queries.</center></p>
			</div>
			<div class="col-md-8 col-sm-8 mt30">
				<form action="#" method="post" role="form">
					<div class="col-md-6 col-sm-6">
                        <label for="name">NAME</label>
                        <input name="name" type="text" class="form-control" id="name">
                      <label for="email">EMAIL</label>
                        <input name="email" type="email" class="form-control" id="email">
					</div>
					<div class="col-md-6 col-sm-6">
						<label for="message">MESSAGE</label>
						<textarea name="message" rows="6" class="form-control" id="message"></textarea>
					</div>
                    <div class="col-md-6 col-sm-6">
                    	<button type="submit" name="submit" class="btn btn-default" style="color: darkblue">SEND</button>
                    </div>
				</form>
			</div>
			<div class="col-md-4 col-sm-4 address">
				<div>
					<h3>Email</h3>
					<p>teamumeed555@gmail.com</p>
				</div>
				<div>
					<h3>Phones</h3>
					<p>08047190877</p>
				</div>
			</div> 
			<div class="col-md-12 col-sm-12 mt20">
            	<h3>Location</h3>
				<div class="google_map mt20">
					<div><img src="static/images/college-map.png"></div>
				</div>
			</div>
		</div>
	</div>
</div>		
<!-- footer section -->
<footer>
	<div class="container">
		<div class="row">
        
			<div class="col-md-5 col-sm-4">
				<img src="./static/images/finallogo.png" width="300" class="img-responsive" alt="logo">
				<p>INTERCESSOR is a free website to help you stock your warehouses adequately. Feel free to use it!!!</p>
				<!--p><i class="fa fa-phone"></i> 010-020-0340</p-->
				<p><i class="fa fa-envelope-o"></i> teamumeed555@gmail.com</p>
              <!--p><i class="fa fa-globe"></i> www.company.com</p-->
			</div>
          
		</div>
	</div>
</footer>

<!-- copyright section -->
<div class="copyright" >
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-6">
				<p>Copyright © 2084 Team Umeed</p>
			</div>
			<div class="col-md-6 col-sm-6">
				<ul class="social-icons">
					<!--li><a href="#" class="fa fa-facebook"></a></li>
					<li><a href="#" class="fa fa-twitter"></a></li>
					<li><a href="#" class="fa fa-dribbble"></a></li>
					<li><a href="#" class="fa fa-pinterest"></a></li>
					<li><a href="#" class="fa fa-behance"></a></li>
					<li><a href="contact.html" class="fa fa-envelope-o"></a></li-->
				</ul>
			</div>
		</div>
	</div>
</div>


<!-- javascript js -->	
<script src="static/js/jquery.js"></script>
<script src="static/js/bootstrap.min.js"></script>	
<script src="static/js/nivo-lightbox.min.js"></script>
<script src="static/js/custom.js"></script>
<script>
	window.watsonAssistantChatOptions = {
		integrationID: "5d9226a5-721b-4565-a39e-f74940c110f1", // The ID of this integration.
		region: "eu-gb", // The region your integration is hosted in.
		serviceInstanceID: "146a5df6-e058-4bb0-859a-51e8eaa9d119", // The ID of your service instance.
		onLoad: function(instance) { instance.render(); }
	  };
	setTimeout(function(){
	  const t=document.createElement('script');
	  t.src="https://web-chat.global.assistant.watson.appdomain.cloud/loadWatsonAssistantChat.js";
	  document.head.appendChild(t);
	});
  </script>

</body>
</html>